fastapi
uvicorn
SQLAlchemy
asyncpg
pgvector
pydantic-settings
email-validator
alembic
python-dotenv
python-multipart
langchain-community
pypdf
langchain-google-genai
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.2.0
celery
redis
slowapi
limits[redis]
docx2txt
numpy<2
torch==2.2.2
transformers==4.44.0
sentence-transformers==3.0.1