fastapi
uvicorn
SQLAlchemy
asyncpg
pgvector
pydantic-settings
alembic
python-dotenv
python-multipart
langchain-community
pypdf
langchain-google-genai
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
numpy<2
torch==2.2.2
transformers==4.44.0
sentence-transformers==3.0.1